.heading {
    font-weight: 600;
}

.container {
    max-width: 1100px;
}

.para {
    font-size: 1.15rem;
}

@media (max-width: 576px) {
    .para {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .para {
        font-size: 0.96rem;
    }
}