.logo {
    width: 2.5rem;
    height: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semi-bold {
    font-weight: 600;
}

@media (max-width: 500px) {
    .logo {
        width: 2.2rem;
    }
}