.container {
    position: relative;
    border: 1px solid transparent;
    padding: 0;
}

.container:hover {
    border: 1px solid rgb(77, 76, 76);
}

.card {
    border: none;
    border-radius: 1px;
    padding-bottom: 0.15rem;
    min-height: 52.5vh;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.icon {
    position: absolute;
    top: 0.7rem;
    right: 1.17rem;
    z-index: 100;
    border: none;
    background-color: transparent;
    color: rgb(61, 61, 61);
}

.body {
    border: none;
    padding-block: 0.8rem;
    padding-inline: 0.5rem;
}

.title {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 0.20rem;
}

.text {
    font-size: 0.98rem;
    color: rgb(102, 102, 102);
    margin-bottom: 0.5rem;
}

.price {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0;
    transition: display 0.5s ease;
}

.add-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
    margin-inline: auto;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.add {
    display: none;
    width: 80%;
    height: 2.4rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(41, 40, 40);
    color: whitesmoke;
    transition: display 0.5s ease;
}

.add:hover {
    -webkit-box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.75);
    transform: translateY(-2px);
}

.add:active {
    transform: translateY(0px);
}

/* showing addToCart and removing price when hovering over the card */
.container:hover .add {
    display: block;
}

.container:hover .price {
    display: none;
}

@media (max-width: 1400px) {
    .card {
        min-height: 49vh;
    }

    .card-img-top {
        height: 37vh !important;
    }
}

@media (max-width: 1200px) {
    .icon {
        top: 0.5rem;
        right: 0.8rem;
    }

    .card {
        min-height: 45vh;
    }

    .card-img-top {
        height: 33vh !important;
    }

    .title {
        font-size: 0.98rem;
        margin-bottom: 0.3rem;
    }

    .text {
        font-size: 0.92rem;
    }
}

@media (max-width: 992px) {
    .card {
        min-height: 42vh;
    }

    .card-img-top {
        height: 29vh !important;
    }

    .title {
        font-size: 0.95rem;
        margin-bottom: 0.2rem;
    }

    .text {
        font-size: 0.90rem;
    }
}

@media (max-width: 768px) {
    .card {
        min-height: 45.5vh;
    }

    .card-img-top {
        height: 33vh !important;
    }

    .title {
        font-size: 1.1rem;
    }

    .text {
        font-size: 0.92rem;
    }
}

@media (max-width: 576px) {
    .icon {
        top: 0.4rem;
        right: 0.4rem;
    }

    .card {
        min-height: 47.5vh;
    }

    .card-img-top {
        height: 35vh !important;
    }

    .body {
        padding-block: 0.9rem;
        padding-inline: 0.65rem;
    }

    .title {
        font-size: 0.95rem;
        margin-bottom: 0.2rem;
    }

    .text {
        font-size: 0.85rem;
        margin-bottom: 0.4rem;
    }

    .price {
        font-size: 1.2rem;
    }
}

@media (max-width: 420px) {
    .card {
        min-height: 40.5vh;
    }

    .card-img-top {
        height: 28vh !important;
    }

    .body {
        padding-block: 0.7rem;
        padding-inline: 0.5rem;
    }

    .title {
        font-size: 0.90rem;
        font-weight: 500;
        margin-bottom: 0;
    }

    .text {
        font-size: 0.78rem;
        margin-bottom: 0.3rem;
    }

    .price {
        font-size: 1.05rem;
    }
}